<div class="get-started"
     id="Get-Started">
  <div class="get-started-promotion">
    <h1>Content which is fueled by the passion for Technology &amp; Innovation</h1>
    <p>Hear directly from the people who know it best. From DevOps to Artificial Intelligence and more — whatever your interest, we’ve got you covered.</p>
    <div class="get-started-button-set">
      <button class="btn btn-dark"
              type="button"
              v-on:click="getStarted()">Get Started</button>
      <button class="btn btn-dark"
              type="button"
              v-on:click="signIn()">Sign In</button>
    </div>
  </div>
  <div class="get-started-image">
    <a>
      <svg class="brainstorm">
        <use xlink:href="#brainstorm" />
      </svg>
    </a>
  </div>
</div>
