<modal height="auto"
       name="un-publish-success"
       width="60%">
  <div class="close-un-publish-success-dialog"
       v-on:click="close('un-publish-success')">
    <svg>
      <use xlink:href="#error-new" />
    </svg>
  </div>
  <div id="Un-Publish-Success-Modal">
    <div class="un-publish-success-form">
      <div class="un-publish-success-image">
        <svg>
          <use xlink:href="#checked-new" />
        </svg>
      </div>
      <h2 class="un-publish-success-title">Successfully Un-Published</h2>
      <p class="un-publish-success-description">Your paper has been Un-published</p>
    </div>
  </div>
</modal>
