@import "../../assets/scss/custom-bootstrap-variables.scss";

#Moderation {
    margin-top: 65px;
    padding-bottom:70px;
    position:relative;
    #Moderation-Content {
        padding-right:2%;
    }
}
