<modal height="auto"
       name="bookmark-success"
       width="60%">
  <div class="close-bookmark-success-dialog"
       v-on:click="close('bookmark-success')">
    <svg>
      <use xlink:href="#error-new" />
    </svg>
  </div>
  <div id="Bookmark-Success-Modal">
    <div class="bookmark-success-form">
      <div class="bookmark-success-image">
        <svg>
          <use xlink:href="#checked-new" />
        </svg>
      </div>
      <h2 class="bookmark-success-title">Successfully Bookmarked</h2>
      <p class="bookmark-success-description">You have sucessfully bookmarked this paper</p>
    </div>
  </div>
</modal>
