<modal height="auto"
       name="subscribe-success"
       width="60%">
  <div class="close-subscribe-success-dialog"
       v-on:click="close('subscribe-success')">
    <svg>
      <use xlink:href="#error-new" />
    </svg>
  </div>
  <div id="Subscribe-Success-Modal">
    <div class="subscribe-success-form">
      <div class="subscribe-success-image">
        <svg>
          <use xlink:href="#checked-new" />
        </svg>
      </div>
      <h2 class="subscribe-success-title">Successfully Subscribed</h2>
      <p class="subscribe-success-description">You have sucessfully subscribed to this author's papers</p>
    </div>
  </div>
</modal>
