@import "../../assets/scss/custom-bootstrap-variables.scss";

#Setting {
    margin-top: 65px;
    padding-bottom:70px;
    position: relative;
    #Setting-Content {
        .Setting-Body {
            padding: 1%;
            .Setting-Item {
                .Settings-Item-Header {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    svg {
                        margin-right: 10px;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }    
                
    }
}