<modal height="auto"
       name="delete-success"
       width="60%">
  <div class="close-delete-success-dialog"
       v-on:click="close('delete-success')">
    <svg>
      <use xlink:href="#error-new" />
    </svg>
  </div>
  <div id="Delete-Success-Modal">
    <div class="delete-success-form">
      <div class="delete-success-image">
        <svg>
          <use xlink:href="#checked-new" />
        </svg>
      </div>
      <h2 class="delete-success-title">Paper Deleted</h2>
      <p class="delete-success-description">Your paper has been deleted sucessfully</p>
    </div>
  </div>
</modal>
