@import "../../assets/scss/custom-bootstrap-variables.scss";

#FooterBar {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 500;
    width: 100%;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    bottom: 0;
    background: $white;
    position: fixed!important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-align: center!important;
    height: 70px;
    box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, .0785);

    .order-one{
        align-items: center;
        width: 10%;
        left: 0px;
        svg {
            margin-top: 10px;
            margin-bottom:10px;
            margin-left: 5%;
            width: 50px;
            height: 50px;
            padding-top: 2px;
            padding-bottom: 10px;
            :hover {
                fill: $primary;
                transition: all .3s ease-in-out;
                transform: scale(1.1);
                transform-origin: 50% 50%;
            }
        }
        @media screen and (max-width: $small-device) {
            display: none;
        }
    }

    .order-two {
        align-items: center;
        display:flex;
        flex-direction: row;
        width: 80%;
        justify-content: center;
        .author-footer-pic {
            align-items: center;
            div {
                margin-right: 10px;
                width: 50px;
                height:50px;
                border-radius: 100%;
                background-position: 50% 50% !important;
                background-size: cover!important;
                background-repeat: no-repeat !important;
            }
        }

        .author-footer-details {
            a {
                color: $primary !important;
                float: left;
                margin-top: -15px;
                :hover {
                    font-weight: bold;
                    text-decoration: none;
                }
                @media screen and (max-width: $small-device) {
                    display: none;
                    margin-top: -25px;
                }
            }
        }
    }

    .order-three {
        align-items: center;
        width: 10%;
        right: 0px;
        svg {
            margin-top: 10px;
            margin-bottom:10px;
            margin-left: 5%;
            width: 50px;
            height: 50px;
            padding-top: 2px;
            padding-bottom: 10px;
            :hover {
                fill: $primary;
                transition: all .3s ease-in-out;
                transform: scale(1.1);
                transform-origin: 50% 50%;
            }
        }
        @media screen and (max-width: $small-device) {
            display: none;
        }
    }
}