@import "../../assets/scss/custom-bootstrap-variables.scss";

#MySpace {
    margin-top: 65px;
    padding-bottom:70px;
    position: relative;
    #MySpace-Content {
        padding-right:2%;
    }
}